@import "../../styles/base/variables";
@import "../../styles/base/mixins";
.skill {
  padding: 25px 30px;
  font-size: 13px;
  border: 1px solid var(--primary-text-color);

  &__icon{
    margin-bottom: 20px;
    .icon{
      max-width: 100%;
      @include size(auto, 65px);
    }
  }
  &__title{
    margin-bottom: 15px;
  }

  &s {
    --columns-count: 4;
    padding-top: 120px;
    @include head-centered;
    &-list{
      display: grid;
      gap: 13px;
      grid-template-columns: repeat(var(--columns-count), 1fr);
      grid-template-rows: minmax(275px, auto);
    }
    &-levels{
      padding-top: 120px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 45px 38px;
    }
  }
  &-level{
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 21px auto;
    gap: 27px;
    &__progressbar{
      background-color: #fff3e0;
      height: 14px;
      border-radius: 4px;
      grid-column: 1 / 3;
      overflow: hidden;

      &-fill{
        height: 100%;
        background-color: var(--primary-color);
        @include trns($delay: 1s);
      }
    }
    &__percent{
      text-align: right;
    }
  }

  @include respond-below(lg){
    &s{
      padding-top: 45px;
    }
  }
  @include respond-below(md){
    &s{
      --columns-count: 3;
      &-levels{
        padding-top: 55px;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  @include respond-below(sm){
    &s{
      --columns-count: 2;
    }
  }
  @include respond-below(xs){
    padding-inline: 20px;
    &s{
      --columns-count: 1;
      &-levels{
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

}