/* Slider  v-1.8.1 */
.slick{
    &-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        user-select: none;
        touch-action: pan-y;

        .slick-track,
        .slick-list {
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    &-list {
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0;

        &:focus {
            outline: none;
        }

        &.dragging {
            cursor: pointer;
            cursor: hand;
        }
    }
    &-track {
        position: relative;
        left: 0;
        top: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;

        &:before,
        &:after {
            content: "";
            display: table;
        }

        &:after {
            clear: both;
        }

        .slick-loading & {
            visibility: hidden;
        }
    }
    &-slide {
        float: left;
        height: 100%;
        min-height: 1px;
        [dir="rtl"] & {
            float: right;
        }
        img {
            display: block;
        }
        &.slick-loading img {
            display: none;
        }

        display: none;

        &.dragging img {
            pointer-events: none;
        }

        .slick-initialized & {
            display: block;
        }

        .slick-loading & {
            visibility: hidden;
        }

        .slick-vertical & {
            display: block;
            height: auto;
            border: 1px solid transparent;
        }
    }
    &-arrow{
        z-index: 1;
        background: none;
        border: none;
        font-size: 1.7em;
        outline: none;

        &:focus {
            outline: none;
        }
        &.slick-hidden {
            display: none;
        }
        &.slick-prev{
            left: -3%;
        }
        &.slick-next{
            right: -3%;
        }
    }
    &-dots{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;

        > li{
            list-style: none;
            margin: 3px;
            line-height: 1;

            > button{
                overflow: hidden;
                text-indent: -99999px;
                width: 39px;
                height: 5px;
                padding: 0;
                background-color: #000;
                border: none;
                opacity: 0.3;
                border-radius: 3px;
            }
            &.slick-active > button{
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .slick-dots > li > button{
        width: 26px;
        height: 3px;
    }
}